<nav class="bg-gray-800 text-white p-4 flex gap-6">
  <a href="/" class="hover:underline">Home</a>
  <a href="/nature" class="hover:underline">Nature</a>
  <a href="/urban" class="hover:underline">Urban</a>
  <a href="/aerial" class="hover:underline">Aerial</a>
</nav>