<nav class="bg-gray-900 text-white px-6 py-4 flex space-x-4">
  <a href="/" class="hover:underline">Home</a>
  <a href="/nature" class="hover:underline">Nature</a>
  <a href="/aerial" class="hover:underline">Aerial</a>
  <a href="/urban" class="hover:underline">Urban</a>
</nav>